// new sans arabic
@font-face {
    font-family: "new-sans-arabic";
    src: url("../../assets/Fonts/new-sans-arabic/NeoSansArabicRegular.ttf");
    font-display: swap;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "new-sans-arabic";
    src: url("../../assets/Fonts/new-sans-arabic/Neo_Sans_Medium.ttf");
    font-display: swap;
    font-weight: 500;
  }
  
  @font-face {
    font-family: "new-sans-arabic";
    src: url("../../assets/Fonts/new-sans-arabic/NeoSansArabicBold.ttf");
    font-display: swap;
    font-weight: 700;
  }
  
  
  //   Inter
  @font-face {
    font-family: "Inter";
    src: url("../../assets/Fonts/Inter/Inter-Regular.ttf");
    font-display: swap;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../../assets/Fonts/Inter/Inter-Medium.ttf");
    font-display: swap;
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../../assets/Fonts/Inter/Inter-Bold.ttf");
    font-display: swap;
    font-weight: 700;
  }
  